In [1]:
library(tidyverse) 
library(haven)
library(dplyr)
library(stargazer)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.4     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Please cite as:


 Hlavac, Marek (2022). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.3. https://CRAN.R-project.org/package=stargazer

In [2]:
amazon_data <-read.csv("data/cleaned_dataset.csv")
head(amazon_data)

  asin       product_avg_ratings price main_cat rank
1 7178680776 3.00000             44.99 0         872854
2 7250468162 5.00000             28.76 0         956696
3 7414204790 4.40000             12.15 0          67701
4 8921463194 1.00000             24.99 0        1676787
5 9752980953 1.00000             21.95 0        2325042
6 9790787006 4.22807             13.85 0         298893

In [3]:
amazon_data <- amazon_data %>%
                mutate(logprice=log(price), lograting = log(product_avg_ratings))

In [4]:
head(amazon_data)

  asin       product_avg_ratings price main_cat rank    logprice lograting
1 7178680776 3.00000             44.99 0         872854 3.806440 1.098612
2 7250468162 5.00000             28.76 0         956696 3.358986 1.609438
3 7414204790 4.40000             12.15 0          67701 2.497329 1.481605
4 8921463194 1.00000             24.99 0        1676787 3.218476 0.000000
5 9752980953 1.00000             21.95 0        2325042 3.088767 0.000000
6 9790787006 4.22807             13.85 0         298893 2.628285 1.441746

In [7]:
summary(amazon_data)

     asin           product_avg_ratings     price            main_cat
 Length:17936       Min.   :1.000       Min.   :   0.01   Min.   :0.0000
 Class :character   1st Qu.:3.818       1st Qu.:  11.90   1st Qu.:0.0000
 Mode  :character   Median :4.333       Median :  21.00   Median :0.0000
                    Mean   :4.142       Mean   :  34.27   Mean   :0.3809
                    3rd Qu.:5.000       3rd Qu.:  39.00   3rd Qu.:1.0000
                    Max.   :5.000       Max.   : 999.99   Max.   :1.0000
      rank            logprice        lograting
 Min.   :     35   Min.   :-4.605   Min.   :0.000
 1st Qu.: 124466   1st Qu.: 2.477   1st Qu.:1.340
 Median : 407634   Median : 3.045   Median :1.466
 Mean   : 617067   Mean   : 3.068   Mean   :1.382
 3rd Qu.: 920822   3rd Qu.: 3.664   3rd Qu.:1.609
 Max.   :9549407   Max.   : 6.908   Max.   :1.609

In [6]:
rg1<-lm(data=amazon_data,product_avg_ratings~logprice)
rg2<-lm(data=filter(amazon_data,main_cat=="0"),product_avg_ratings~logprice)
rg3<-lm(data=filter(amazon_data,main_cat=="1"),product_avg_ratings~logprice)
rg4<-lm(data=amazon_data,product_avg_ratings~logprice+main_cat)
rg5<-lm(data=amazon_data, product_avg_ratings~logprice+main_cat+rank)
#rg6, 7, 8 uses standardized coefficients
rg6<-lm(data=amazon_data,scale(product_avg_ratings)~scale(logprice)+scale(main_cat)+scale(rank))
rg7<-lm(data=amazon_data, scale(product_avg_ratings)~scale(rank))
rg8<-lm(data=filter(amazon_data,main_cat=="0"),scale(product_avg_ratings)~scale(logprice)+scale(rank))
stargazer(rg1, rg2, rg3, rg4, rg5, rg6, rg7, rg8, title="Comparison of Regression Results",
          align = TRUE, type="text", keep.stat = c("n","rsq"))

Comparison of Regression Results
===============================================================================================
                                              Dependent variable:
                -------------------------------------------------------------------------------
                               product_avg_ratings                 scale(product_avg_ratings)
                  (1)       (2)      (3)       (4)        (5)        (6)       (7)       (8)
-----------------------------------------------------------------------------------------------
logprice        0.094*** 0.138***   0.007   0.101***   0.113***
                (0.007)   (0.010)  (0.011)   (0.008)    (0.008)

main_cat                                    -0.043***  -0.181***
                                             (0.015)    (0.017)

rank                                                  -0.00000***
                                                        (0.000)

scale(logprice)                                                   0.117***            0.137***
                                                                   (0.008)             (0.009)

scale(main_cat)                                                   -0.095***
                                                                   (0.009)

scale(rank)                                                       -0.143*** -0.109*** -0.114***
                                                                   (0.008)   (0.007)   (0.009)

Constant        3.854*** 3.745***  4.134*** 3.847***   3.991***     0.000    -0.000     0.000
                (0.023)   (0.030)  (0.038)   (0.023)    (0.025)    (0.007)   (0.007)   (0.009)

-----------------------------------------------------------------------------------------------
Observations     17,936   11,104    6,832    17,936     17,936     17,936    17,936    11,104
R2               0.009     0.016    0.0001    0.010      0.026      0.026     0.012     0.029
===============================================================================================
Note:                                                               *p<0.1; **p<0.05; ***p<0.01