In [1]:
library(tidyverse) 
library(haven)
library(dplyr)
library(stargazer)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --

√ ggplot2 3.1.1       √ purrr   0.3.2
√ tibble  2.1.1       √ dplyr   0.8.0.1
√ tidyr   0.8.3       √ stringr 1.4.0
√ readr   1.3.1       √ forcats 0.4.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()


Please cite as:


 Hlavac, Marek (2018). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.2. https://CRAN.R-project.org/package=stargazer

In [17]:
amazon_data<-read.csv("C:/Users/23980/Desktop/Jupyter/comet-project/final project/cleaned_dataset.csv")
head(amazon_data)

  X asin       product_avg_ratings price main_cat
1 1 7178680776 3.0                 44.99 0
2 2 7250468162 5.0                 28.76 0
3 3 7414204790 4.4                 12.15 0
4 4 7414204790 4.4                 12.15 0
5 5 7414204790 4.4                 12.15 0
6 6 7414204790 4.4                 12.15 0

In [18]:
amazon_data<-amazon_data %>%
mutate(logprice=log(price))
amazon_data_logged <- amazon_data %>%
                filter(price > 0)

In [19]:
head(amazon_data)

  X asin       product_avg_ratings price main_cat logprice
1 1 7178680776 3.0                 44.99 0        3.806440
2 2 7250468162 5.0                 28.76 0        3.358986
3 3 7414204790 4.4                 12.15 0        2.497329
4 4 7414204790 4.4                 12.15 0        2.497329
5 5 7414204790 4.4                 12.15 0        2.497329
6 6 7414204790 4.4                 12.15 0        2.497329

In [21]:
regression1<-lm(data=amazon_data,product_avg_ratings~logprice)
regression2<-lm(data=filter(amazon_data,main_cat=="0"),product_avg_ratings~logprice)
regression3<-lm(data=filter(amazon_data,main_cat=="1"),product_avg_ratings~logprice)
regression4<-lm(data=amazon_data,product_avg_ratings~logprice+main_cat)
stargazer(regression1, regression2, regression3,regression4, title="Comparison of Regression Results",
          align = TRUE, type="text", keep.stat = c("n","rsq"))

Comparison of Regression Results
=================================================
                     Dependent variable:
             ------------------------------------
                     product_avg_ratings
               (1)      (2)       (3)      (4)
-------------------------------------------------
logprice     0.017*** 0.119*** -0.060*** 0.003***
             (0.001)  (0.001)   (0.001)  (0.001)

main_cat                                 0.062***
                                         (0.001)

Constant     4.159*** 3.866*** 4.435***  4.159***
             (0.002)  (0.004)   (0.002)  (0.002)

-------------------------------------------------
Observations 677,952  196,419   481,533  677,952
R2            0.001    0.036     0.018    0.005
=================================================
Note:                 *p<0.1; **p<0.05; ***p<0.01