In [1]:
library(tidyverse) 
library(haven)
library(dplyr)
library(stargazer)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   1.0.1
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.5.0
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Please cite as:


 Hlavac, Marek (2022). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.3. https://CRAN.R-project.org/package=stargazer

In [2]:
amazon_data <-read.csv("data/cleaned_dataset.csv")
head(amazon_data)

  asin       product_avg_ratings price main_cat
1 7178680776 3.00000             44.99 0
2 7250468162 5.00000             28.76 0
3 7414204790 4.40000             12.15 0
4 8921463194 1.00000             24.99 0
5 9752980953 1.00000             21.95 0
6 9790787006 4.22807             13.85 0

In [3]:
amazon_data <- amazon_data %>%
                mutate(logprice=log(price))

In [4]:
head(amazon_data)

  asin       product_avg_ratings price main_cat logprice
1 7178680776 3.00000             44.99 0        3.806440
2 7250468162 5.00000             28.76 0        3.358986
3 7414204790 4.40000             12.15 0        2.497329
4 8921463194 1.00000             24.99 0        3.218476
5 9752980953 1.00000             21.95 0        3.088767
6 9790787006 4.22807             13.85 0        2.628285

In [5]:
regression1<-lm(data=amazon_data,product_avg_ratings~logprice)
regression2<-lm(data=filter(amazon_data,main_cat=="0"),product_avg_ratings~logprice)
regression3<-lm(data=filter(amazon_data,main_cat=="1"),product_avg_ratings~logprice)
regression4<-lm(data=amazon_data,product_avg_ratings~logprice+main_cat)
stargazer(regression1, regression2, regression3,regression4, title="Comparison of Regression Results",
          align = TRUE, type="text", keep.stat = c("n","rsq"))

Comparison of Regression Results
================================================
                     Dependent variable:
             -----------------------------------
                     product_avg_ratings
               (1)      (2)      (3)      (4)
------------------------------------------------
logprice     0.089*** 0.129***  0.006   0.095***
             (0.007)  (0.010)  (0.011)  (0.008)

main_cat                                -0.036**
                                        (0.015)

Constant     3.867*** 3.765*** 4.135*** 3.862***
             (0.023)  (0.030)  (0.038)  (0.023)

------------------------------------------------
Observations  18,023   11,171   6,852    18,023
R2            0.008    0.014    0.0001   0.009
================================================
Note:                *p<0.1; **p<0.05; ***p<0.01